*{
    color: white;
}
    
/* --- HEADER --- */
header {
    background-color: rgb(6,19,31);
}

header nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(24,216,96);
}
nav i {
    font-size: 50px;
    color: rgb(24,216,96);
}

/* --- MAIN --- */
main {
    background-color: rgb(29,45,60);
    height: calc(100vh - 80px);
    padding: 20px 0;
    overflow: auto;
    position: relative;
}

.card-album {
    background-color: rgb(6,19,31);
    /* width: calc(100% / 3 - 80px); */
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .card-album {
        width: calc(100% / 2 - 80px);
    }
}
@media screen and (max-width: 576px) {
    .card-album {
        width: calc(100% / 1 - 80px);
    }
}


/* --- MODALE --- */
#modal {
    background-color: rgba(6, 19, 31, 0.95);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* z-index: 99; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px inset white;
}

#modal-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#modal-card img {
    width: 300px;
}

button {
    position: absolute;
    top:0;
    right:0;
    background-color: transparent;
    border: none;
    font-size: 50px;
    margin: 20px;
}